/access.log.1
/power.zip
/correlation.tsv
/sales_data.csv
/data.zip
/data_3_columns.txt
/rects.py_ORIGINAL
/metrika_data.txt
/real_data_no_header.txt
/data_no_header.txt
/params.yaml
/data.xlsx
/direct_stats.tsv
/report.ipynb
/avito.csv
/new_module 6.ipynb
/ratings_example.txt
/new_module3.ipynb
/cbr.html
/new_module 5.ipynb
/movies_example.txt
/signage.xlsx
/ad_campaigns_stats.csv
/ad_campaigns.xlsx
/report_params.yaml
/crm_stats.tsv
/new_module1.ipynb
/cf_data.csv
/avito_screenshot.png
/data.tsv
/movies.csv
/new_module 4.ipynb
/email_base.csv
/solary.xlsx
/solary_wo_spaces.xlsx
/Внимание.docx
/Внимание.txt
/Доп.описание.txt
/Информация.docx
/tel.gif
/texts_opinions.txt
/texts_ratings.txt
/transactions.csv
/transactions_data.csv
/ratings.csv
/output.csv
/orders_by_source.txt
/orders_by_source_and_medium.txt
.idea
